div.menu {
    margin-bottom:50px;
}

div.connect {
    margin-bottom:30px;
}

div.send {
    margin-bottom:10px;
}

form {
    width:600px;
}

#portName {
    width:60%;
}

.send textarea {
    width:96%;
    height:300px;
}

