div.menu {
    margin-bottom:50px;
}

div.connect {
    margin-bottom:30px;
}

div.send {
    margin-bottom:10px;
}

div.recv {
    margin-bottom:10px;
}

form {
    width:600px;
}

#portName {
    width:60%;
}

#sendText {
    width:70%;
}

.recv textarea {
    width:96%;
    height:300px;
}

