div.read {
    margin-bottom:50px;
}

div.connection {
    margin-bottom:50px;
}

div.connection dt {
    margin-bottom:16px;
}

div.connection dd {
    margin-bottom:30px;
}

div.content > div {
    margin-bottom:60px;
}

.desc {
    margin-left:10px;
    margin-bottom:20px;
}

.code {
    margin-left:50px;
    margin-bottom:10px;
}

