html {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	line-height: 1.5;
	color: #24292e;
	background-color: #fff;
}

div.menu {
    margin-bottom:50px;
}

div.connect {
    margin-bottom:10px;
}

div.send {
	width:120%;
	margin-bottom:10px;
}

div.recv {
    margin-bottom:10px;
}

form {
    width:600px;
}

#portName {
    width:60%;
}

#sendText {
	width:70%;
}

#balanceRunTargetReflectText {
	width:10%;
	text-align:right;
}

#tailRunTargetReflectText {
	width:10%;
	text-align:right;
}

#backbendRunTargetReflectText {
	width:10%;
	text-align:right;
}

.recv textarea {
    width:120%;
    height:300px;
}

